<app-header></app-header>

<div class="container">
    <form [formGroup]="formulaire" (ngSubmit)="onSubmit()">

      <div [hidden]="partie1">
        <div class="form-row justify-content-center">
          <div class="col-10">
            <div class="form-group">
              <label for="date">Quel jour réalisez-vous ce déplacement ?</label>
              <input type="date" id="date" class="form-control" formControlName="date" [min]="demain">
            </div>
            <div class="form-group">
              <label for="nbPlaces">Combien de passagers pouvez-vous prendre ?</label>
              <input type="number" onKeyDown="return false" min="1" max="4" id="nbPlaces" class="form-control" formControlName="nbPlaces">
            </div>

            <div formArrayName="etapes">
              <div *ngFor="let etape of getEtapes().controls; let i = index">
                <div [formGroupName]="i">
                  <div class="row">
                    <div class="form-group col-4">
                      <label for="ville{{i}}">
                        Ville
                        <span *ngIf="i===0"> de départ</span>
                        <span *ngIf="i!==0 && i !==(nbVilles-1)"> étape n°{{i}}</span>
                        <span *ngIf="i===(nbVilles-1)"> d'arrivée</span>
                      </label>
                      <input type="text" id="ville{{i}}" class="form-control" formControlName="ville"
                             autocomplete="disabled"
                             (input)="onChangementVille(i)"
                             matInput
                             [matAutocomplete]="villesComplete">
                      <mat-autocomplete #villesComplete="matAutocomplete" [displayWith]="affichageVille">
                        <mat-option *ngFor="let ville of villes" [value]="ville">{{ ville.nom }} ({{ ville.codeDepartement }})</mat-option>
                      </mat-autocomplete>
                    </div>
                    <div class="form-group col-4">
                      <label for="lieu{{i}}">Précision (quartier/lieu/etc.)</label>
                      <input type="text" id="lieu{{i}}" class="form-control" formControlName="lieu">
                    </div>
                    <div class="form-group col-4">
                      <label for="heure{{i}}">
                        Heure
                        <span *ngIf="i===0"> de départ</span>
                        <span *ngIf="i===(nbVilles-1)"> d'arrivée</span>
                      </label>
                      <input type="time" id="heure{{i}}" step="300" class="form-control" formControlName="heure">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-secondary text-light" [disabled]="nbVilles>=5" (click)="onAjouterEtape()">Ajouter une étape</button>
            <button type="button" class="btn btn-success ml-2" (click)="onSuivant()" [disabled]="!getEtapes().valid || !getDate().valid || !getNbPlaces().valid">Suivant</button>
          </div>
        </div>
      </div>

      <div [hidden]="!partie1">

        <div formArrayName="prix">
          <div *ngFor="let prix of getPrix().controls; let i = index; let c = count">
            <div class="form-group row justify-content-center">
              <div class="col-5 col-form-label">
                <label for="prix{{i}}">Prix du trajet
                  <span *ngIf="i<=(nbVilles-2)">
                    {{ formulaire.value.etapes['0'].ville?.nom }} - {{ formulaire.value.etapes[i+1].ville?.nom }}</span>
                  <span *ngIf="i>(nbVilles-2)&&i<=((2*nbVilles)-4)">
                    {{ formulaire.value.etapes['1'].ville?.nom }} - {{ formulaire.value.etapes[i-nbVilles+3].ville?.nom }}</span>
                  <span *ngIf="i>((2*nbVilles)-4)&&i<=((3*nbVilles)-7)">
                    {{ formulaire.value.etapes['2'].ville?.nom }} - {{ formulaire.value.etapes[i-(2*(nbVilles-3))].ville?.nom }}</span>
                  <span *ngIf="i>((3*nbVilles)-7)&&i>8">
                    {{ formulaire.value.etapes['3'].ville?.nom }} - {{ formulaire.value.etapes[4].ville?.nom }}</span>
                </label>
              </div>
              <div class="col-5 input-group mb-3">
                <input type="number" id="prix{{i}}" class="form-control" [formControlName]="i">
                <div class="input-group-append">
                  <span class="input-group-text">€</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center mb-3">
          <div class="col-2">
            Véhicule
          </div>
          <div class="col-8">
            <div *ngFor="let voiture of utilisateur?.voitures; let i = index" [hidden]="!voiture.active" class="form-check">
              <input type="radio" id="voiture{{i}}" [value]="voiture._id" formControlName="voiture" class="form-check-input">
              <label for="voiture{{i}}" class="form-check-label">
                <span>{{ voiture.modele }} </span>
                <span>({{ voiture.marque }})</span>
                <span> - {{ voiture.couleur }}</span>
              </label>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-10">
            <div class="form-group">
              <label for="commentaire">Dites-nous en plus sur ce déplacement !</label>
              <textarea type="text" id="commentaire" class="form-control" formControlName="commentaire"></textarea>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="formulaire.invalid">Terminer</button>
          </div>
        </div>
      </div>

    </form>
</div>
