<app-header></app-header>

<div class="container mb-5 pt-3 pb-1 bordure-paragraphe trajet">
  <form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
    <div class="form-row justify-content-center d-flex align-items-end">
      <div class="col-3 form-group">
        <label for="villeDepart">
          Ville de départ
        </label>
        <input type="text" id="villeDepart" class="form-control" formControlName="villeDepart"
               autocomplete="off"
               (input)="onChangementVille(true)"
               matInput
               [matAutocomplete]="villesComplete">
        <mat-autocomplete #villesComplete="matAutocomplete" [displayWith]="affichageVille">
          <mat-option *ngFor="let ville of villes" [value]="ville">{{ ville.nom }} ({{ ville.codeDepartement }})</mat-option>
        </mat-autocomplete>
      </div>
      <div class="col-3 form-group">
        <label for="villeDepart">
          Ville d'arrivée
        </label>
        <input type="text" id="villeArrivee" class="form-control" formControlName="villeArrivee"
               autocomplete="off"
               (input)="onChangementVille(false)"
               matInput
               [matAutocomplete]="villesComplete">
        <mat-autocomplete #villesComplete="matAutocomplete" [displayWith]="affichageVille">
          <mat-option *ngFor="let ville of villes" [value]="ville">{{ ville.nom }} ({{ ville.codeDepartement }})</mat-option>
        </mat-autocomplete>
      </div>
      <div class="col-2 form-group">
        <label for="date">Date</label>
        <input type="date" id="date" class="form-control" formControlName="date" [min]="demain">
      </div>
      <div class="col-2 form-group">
        <label for="nbPlaces">Passagers</label>
        <input type="number" onKeyDown="return false" min="1" max="4" id="nbPlaces" class="form-control" formControlName="nbPlaces">
      </div>
      <div class="col-2 form-group">
        <button type="submit" class="btn btn-success form-control" [disabled]="formulaire.invalid">Rechercher</button>
      </div>
    </div>
  </form>
</div>

<div class="container" *ngIf="resultats">
  <div class="row">
    <h4 class="col">
      {{ resultats?.length }}
      <span *ngIf="resultats.length > 1"> Resultats</span>
      <span *ngIf="resultats.length <= 1">Resultat</span>
    </h4>
  </div>
  <div class="row" *ngIf="resultats.length>0">
    <div class="col-5">
      <div *ngFor="let resultat of resultats; let i = index" class="card trajet container mb-3"
           [ngStyle]="{'border-left': (resultat._id===selectionne._id) ? '5px solid #5CB85C' : '5px solid #F1C40F'}"
           (click)="onClickTrajet(i)">
        <div class="row">
          <div class="card-body col-6">
            <h5 class="card-title">{{ resultat.villeDepart.nom }} -> {{ resultat.villeArrivee.nom }}</h5>
            <div class="card-text">Départ : {{ resultat.dateDepart | date: 'H:mm' }}</div>
            <div class="card-text">Arrivée : {{ resultat.dateArrivee | date: 'H:mm' }}</div>
            <h5 class="card-title">{{ resultat.prix }}€</h5>
          </div>
          <div class="card-body col-5 align-self-center">
            <div class="card-text">{{ resultat.deplacement.conducteur.prenom }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-7 pl-0">
      <div class="card container sticky-top">
        <div class="row">
          <div class="card-body col">
            <div class="mb-2">
              <h4 class="card-title" style="display: inline">
                {{ selectionne?.villeDepart.nom }}
              </h4>
              <span class="card-text" *ngIf="selectionne.lieuDepart"> ({{ selectionne?.lieuDepart }})</span>
              <h4 class="card-title" style="display: inline">
                -> {{ selectionne?.villeArrivee.nom }}
              </h4>
              <span class="card-text" *ngIf="selectionne.lieuArrivee"> ({{ selectionne?.lieuArrivee }})</span>
            </div>
            <div class="card-text">Départ : {{ selectionne?.dateDepart | date: 'H:mm' }}</div>
            <div class="card-text">Arrivée : {{ selectionne?.dateArrivee | date: 'H:mm' }}</div>
            <h5 class="card-title">{{ selectionne?.prix }}€</h5>
            <div class="mt-3">
              <h6 class="card-title">Conducteur</h6>
              <div class="card-text">{{ selectionne?.deplacement.conducteur.prenom }}</div>
              <div class="card-text">{{ selectionne?.deplacement.commentaire }}</div>
            </div>
            <div class="mt-3" *ngIf="selectionne?.participants.length>0">
              <h6 class="card-title">Passagers</h6>
              <div class="card-text">{{ selectionne?.deplacement.conducteur.prenom }}</div>
              <div class="card-text">{{ selectionne?.deplacement.commentaire }}</div>
            </div>
            <div class="mt-3">
              <h6 class="card-title">Voiture</h6>
              <div class="card-text">
                {{ selectionne?.deplacement.voiture.modele }}
                ({{ selectionne?.deplacement.voiture.marque }}) -
                {{ selectionne?.deplacement.voiture.couleur }}
              </div>
            </div>
            <div class="mt-3">
              <button class="btn btn-success"
                      (click)="onCandidater()"
                      [disabled]="!isAuth || utilisateurId===selectionne.deplacement.conducteur._id">
                Candidater
              </button>
              <div *ngIf="!isAuth" style="color: #F1C40F">Vous devez être connecté pour candidater à une annonce</div>
              <div *ngIf="utilisateurId===selectionne.deplacement.conducteur._id" style="color: #F1C40F">Vous ne pouvez pas candidater à votre propre annonce</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
